@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
}
header {
  background-color: #0284c7;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
  display: inline-block;
}

textarea {
  font-family: "Noto Sans", sans-serif;
  width: 80%;
  height: 10vh;
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 5rem;
  margin-right: auto;
  display: block;
  font-size: 20px;
  border: 3px solid black;
}
.txtOutput {
  border: 3px solid black;
  width: 80%;
  height: 10vh;
  padding: 1rem;
  color: white;
  background-color: #0284c7;
}
.outputAll {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 5rem;
  margin-right: auto;
}

#btn-Translate {
  font-family: "Noto Sans", sans-serif;
  padding: 1rem;
  font-size: 25px;
  margin: 4rem;
  display: block;
  margin-right: auto;
  margin-left: 5rem;
  background-color: #0284c7;
  border-radius: 1rem;
  color: white;
}

footer {
  background-color: #0284c7;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 2rem;
  color: white;
}
