@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
}

textarea {
  font-family: "Noto Sans", sans-serif;
  width: 80%;
  height: 10vh;
  padding: 1rem;
  margin: 1rem;
  display: block;
}
.txtOutput {
  border: 1px solid black;
  width: 80%;
  height: 10vh;
  margin: 1rem;
  padding: 1rem;
}
